.header {
  position: fixed;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 10;
  /* color: black; */
}

.fnmnLogo {
  width: 25%;
  z-index: 9;
  position: relative;
  /* position: absolute;
  z-index: 10; */
}

.fnmnLogox {
  width: 25%;
  position: absolute;
  z-index: 10;
  opacity: 1;
}

.nav-menu {
  display: flex;
}

.nav-menu li {
  padding: 0 1rem;
  color: black;
}

.nav-menu a {
  font-size: 1.2rem;
  font-weight: 500;
  /* position: relative; */
}

.nav-menu button {
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.2s;
  /* margin-top: 2px; */
  font-family: inherit;
  position: relative;
}

.nav-menu button:hover {
  color: rgb(217, 63, 123, 0.8);
}

.hamburger {
  display: none;
}

@media screen and (max-width: 1240px) {
  .hamburger {
    display: block;
  }
  .nav-menu {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    text-align: center;
    width: 100%;
    height: 100vh;
    transition: 0.3s;
    z-index: -1;
    /* background: rgba(255, 255, 255, 0.9); */
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-menu li {
    padding: 1rem;
  }

  .nav-menu a {
    font-size: 1.5rem;
  }

  .nav-menu button {
    font-size: 1.5rem;
  }
}
