.header {
  position: fixed;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 10;
}

.fnmnLogo {
  width: 25%;
}

.nav-menu {
  display: flex;
}

.nav-menu li {
  padding: 0 1rem;
}

.nav-menu a {
  font-size: 1.2rem;
  font-weight: 500;
  transition: 0.2s;
  position: relative;
}

.nav-menu button {
  font-size: 1.2rem;
  font-weight: 500;
  transition: 0.2s;
}

.nav-menu a:hover {
  color: rgb(217, 63, 123, 0.8);
}

.hamburger {
  display: none;
}

.glide::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  background: black;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.glide::before {
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  width: 0%;
  height: 2px;
  background: black;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.glide:hover::after {
  left: 0;
  width: 100%;
}

.glide:hover::before {
  right: 0;
  width: 100%;
}

@media screen and (max-width: 1240px) {
  .hamburger {
    display: block;
  }
  .nav-menu {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    text-align: center;
    width: 100%;
    height: 100vh;
    transition: 0.3s;
    z-index: -1;
    background: rgba(0, 0, 0, 0.9);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-menu li {
    padding: 1rem;
  }

  .nav-menu a {
    font-size: 2rem;
  }
}
